
/* CSS Variables */
:root {
    --blue-gradient: linear-gradient(to bottom right, #0063D5, #00CAF3);
    --white: #ffffff;
    --black: #000000;
}

/* Custom Fonts */
@font-face {
    font-family: Norse;
    src: url('../odin-recipes/fonts/Norse.otf');
}

@font-face {
    font-family: Norsebold;
    src: url('../odin-recipes/fonts/Norsebold.otf');
}

/* Font Styles */
.norse-regular {
    font-family: Norse, sans-serif;
    font-style: normal;
}

.norse-bold {
    font-family: Norsebold, sans-serif;
    font-style: normal;
}

/* HTML Styles */
body {
    background: var(--blue-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    color: black;
    text-align: center;
    overflow: hidden;
}

/* Main Heading Styles */
.main-heading {
    font-size: 100px;
    animation-name: main-heading-animation;
    animation-duration: 2s;
}

/* Main Heading Animation */
@keyframes main-heading-animation {
    from {color: rgba(0, 0, 0, 0); }
    to {color: rgba(0, 0, 0, 1); }
}

/* Anchor Tag Styles*/
a {
    text-decoration: none;
    color: black;
}